.idea/
*_jax*
events.out*
__pycache__/
*.pt
data
core.*
_cache*
.vscode/
samples/
hostfile
pretrained/
*.png
*.jpg
*.jpeg
input*.txt
*samples*/
coco_scores/*
checkpoints/
*coco*
runs
dist/
*.egg-info
args/